
{
    margin: 0;
    padding: 0;
}

header, footer, nav, article {
    display: block;
}

body {
    margin: 10px auto;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #BED7F7;
    width: 940px;
}

h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
}

section, article, p {
    padding: 22px 0;
}

header figure {
    text-align: center;
}

/*
#topmenu {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
#topmenu ul li {
    display: inline;
    margin: auto 5px;
    list-style-type: none;
}

#topmenu ul li a {
    display: inline;
    padding-right: 55px;
    padding-left: 55px;
    line-height: 44px;
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
#topmenu ul li a:hover {
    color: red;
}
#topmenu ul li.selected a {
    color: #fff;
}
*/

.lavaLamp {
    position: relative;
    overflow: hidden;
	background: url("../img/topmenu/menu_bg_road.png") repeat;
    padding: 6px;

    border-radius : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.lavaLamp li { /* flow horizantally */
    float: left;
    list-style-type: none;
    margin: 0 6px;
}
.lavaLamp li:nth-last-child(2) { /* flow horizantally */
    float: right;
    list-style-type: none;
    margin: 0 6px;
    background: url(../img/topmenu/cone.png) no-repeat;
    background-size: 28px;
}
.lavaLamp li.back {     /* the bg */
    position: absolute; /* moves wherever we tell it to */
    z-index: 8;         /* between panel and links/text */
    height: 26px;
    margin: auto 0;
    background: url("../img/topmenu/item_bg_car.png") no-repeat right -30px;

    border-radius : 8px;
    border-radius : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.lavaLamp li.back .left { /* the moving part mixed with .back */
    height: 26px;
    margin-right: 9px;
    background: url("../img/topmenu/item_bg_car.png") no-repeat top left;

    border-radius : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.lavaLamp li:hover {  /* background fading shadow */
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background: rgba(0,0,0,.20);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
.lavaLamp li:hover:nth-last-child(2) {
    background: rgba(0,0,0,.20) url(../img/topmenu/cone.png) /*95%*/ no-repeat;
    background-size: 20px;
}

#topmenu li a {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 10;
    margin: auto 5px;
    padding: 0 30px;
    height: 30px;
    top: 7px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#content {
    display: table;
}

#intro header figure {
    background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;

    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
}

article > p {
    text-align: justify;
}

#leftmenu {
    display: table-cell;
    width: 250px;
}

#leftmenu ul {
    margin: 10px;
    padding: 10px;
    background: #069; /* FIXME visualize space */
}

#leftmenu ul li {
    list-style-type: none;
    margin: 10px;
    padding: 10px 20px;
}

#leftmenu ul li a {
    color: whitesmoke;
}

#main {
    display: table-cell;
    width: 670px;
    padding-left: 22px;
}

footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #069; /* #222 */
}

footer #copyright {
    width: 940px;
    margin: 0 auto;
    padding: 44px 0;
    color: whitesmoke;
    text-align: center;
}

