
{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* needed for the sticky footer */
}

body {
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #BED7F7 url("../img/bg.png") repeat bottom left;
    margin: 0 auto;
    padding: 0;
}

h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 12px 0;
}

h3 {
    font-size: 18px;
    line-height: 12px;
    padding: 11px 0;
}

header, footer, nav, aside, article {
    display: block;
}

section, article, p {
    padding-bottom: 10px;
}

#wrap {
    min-height: 100%;
}

#idented {
    overflow: auto;        /* needed for the sticky footer */
    padding-bottom: 186px; /* needed for the sticky footer */
    margin: 0 auto;
    width: 940px;
}

#header {
    background: url(../img/header.png) repeat-x;
    height: 150px;
}
#header * {
    margin: 0;
    padding: 0;
    left:0;
    top:0;
}
#header img {
    display: none;
}

.lavaLamp {
    position: relative;
    overflow: hidden;
    background: url("../img/topmenu/menu_bg_road.png") repeat;
    padding: 6px;

    border-radius : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
.lavaLamp li { /* flow horizantally */
    float: left;
    list-style-type: none;
    margin: 0 6px;
}
.lavaLamp li:nth-last-child(2) { /* flow horizantally */
    float: right;
    list-style-type: none;
    margin: 0 6px;
    background: url(../img/topmenu/cone.png) no-repeat;
    background-size: 28px;
}
.lavaLamp li.back {     /* the bg */
    position: absolute; /* moves wherever we tell it to */
    z-index: 8;         /* between panel and links/text */
    height: 26px;
    margin: auto 0;
    background: url("../img/topmenu/item_bg_car_inv.png") no-repeat right -30px;

    border-radius : 8px;
    border-radius : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.lavaLamp li.back .left { /* the moving part mixed with .back */
    height: 26px;
    margin-right: 9px;
    background: url("../img/topmenu/item_bg_car_inv.png") no-repeat top left;

    border-radius : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.lavaLamp li:hover {  /* background fading shadow */
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background: rgba(0,0,0,.40);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
.lavaLamp li:hover:nth-last-child(2) {
    background: rgba(0,0,0,.20) url(../img/topmenu/cone.png) 95% no-repeat;
    background-size: 20px;
}

#topmenu li a {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 10;
    margin: auto 5px;
    padding: 0 30px;
    height: 30px;
    top: 7px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#middle {
    display: table;
}

#middle aside {
    display: table-cell;
    margin: 0 auto;
}

#logo {
    display: table-row;
    width: 35%;
    text-align: center;
}
#logo img {
    border-radius : 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

#leftmenu {
    display: table-row;
    width: 35%;
}
#leftmenu ul {
    margin: 20px;
    padding: 5px;
    background: #79cbe3; /* FIXME visualize space */

    border-radius : 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}
#leftmenu ul li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border:2px solid #575757;
    background: #646464; /* FIXME visualize space */

    overflow: hidden;
    border-radius : 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}
#leftmenu ul li a {
    color: whitesmoke;
}

#content {
    display: table-cell;
    width: 65%;
    padding: 0 10px;
}

#banner {
    text-align: center;
}

#content article > p {
    text-align: justify;
}

#intro header figure {
    background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;

    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
}

#startpage header {
    display: none;
}

footer {
    position: relative; /* needed for the sticky footer */
    margin-top: -186px; /* needed for the sticky footer */
    clear: both;        /* needed for the sticky footer */
    display: table;
    left: 0;
    width: 100%;
    height: 186px;
    background: url("../img/footer.png") repeat-x left bottom;
}
footer #copyright {
    display: table-cell;
    width: 50%;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
}
footer #road {
    display: table-cell;
    width: 40%;
    right: 0;
    background: url(../img/road.png) no-repeat right bottom;
}

