---
desc: Τσουκαλάς Παναγιώτης - Σχολή Οδηγών
keywords: σχολή οδηγών τσουκαλάς παναγιώτης πάνος αυτοκίνητο δίπλωμα άδεια license εκπαίδευση test drive
author: webwizards.gr
author-url: http://www.webwizards.gr
favico: favicon.ico
css:
    - /css/style.css
    - css/style.css
topmenu:
    - ttl: Αρχική
      url: index.html?0
    - ttl: Sitemap
      url: sitemap.html?1
    - ttl: Eπικοινωνία
      url: contact.html?2
    - ttl: Eco-driving
      url: ecodriving.html?3
    - ttl: Χρήσιμα Link
      url: link.html?4
    - ttl: Online Test Drive
      url: testdrive.html?5
leftmenu:
    - ttl: Αυτόματο Εκπαιδευτικό Όχημα
      url: autocar.html
    - ttl: Manual Εκπαιδευτικά Οχήματα
      url: manualcar.html
    - ttl: Διπλώματα Οδήγησης
      url: "#menu"
      id: licenses
    - ttl: Υπηρεσίες
      url: "#menu"
      id: services
    - ttl: Μετεκπαιδεύσεις
      url: metatrain.html
    - ttl: Photo Gallery
      url: gallery.html
licenses:
    - ttl: Δίπλωμα Μοτοσικλέτας Α1-Α'
      url: licenseA.html
    - ttl: Δίπλωμα Αυτοκινήτου Β'
      url: licenseB.html
    - ttl: Δίπλωμα Φορτηγού Γ'
      url: licenseC.html
    - ttl: Δίπλωμα Λεωφορείου Δ'
      url: licenseD.html
    - ttl: Δίπλωμα Νταλίκας ΕΓ'
      url: licenseE.html
services:
    - ttl: Νέου τύπου Δίπλωμα
      url: newtype.html
    - ttl: Αναθεώρηση Διπλώματος
      url: review.html
    - ttl: Απώλεια Διπλώματος
      url: lost.html
    - ttl: Ειδικές Άδειες Ταξί
      url: taxi.html
jscripts:
    - url: js/jquery.min.js
    - url: js/jquery.easing.js
    - url: js/jquery.easing.compatibility.js
    - url: js/jquery.lavalamp.min.js
    - url: js/jquery.jclock.js
    - url: js/jquery.zweatherfeed.min.js
copyright:
    - page: tsoukalas.net
      year: 2012
      owner: webwizards
      url: http://webwizards.gr
---
<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="{{ page.author }}" />
        <meta name="description" content="{{ page.description }}" />
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="language" content="el" />
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ page.favico }}" />
        {% for s in page.css %}
        <link rel="stylesheet" href="{{ s }}" type="text/css" media="screen, projection" />
        {% endfor %}
        {% for js in page.jscripts %}
        <script type="text/javascript" src="{{ js.url }}"></script>
        {% endfor %}
        <script type="text/javascript">$(function(){ $(".lavaLamp").lavaLamp({ fx: "backout", speed: 700 }); });</script>
        <script type="text/javascript">$(function(){ $('.jclock').jclock({ format:'%a %d %b %H:%M:%S' }); });</script>
        <script type="text/javascript">$(function(){ $('#weather').weatherfeed(['GRXX0004']); })</script>
        <script type="text/javascript">$(function(){ $('#licenses').click(function(){
            $('#licenses ul').slideToggle(function(){ $('#licenses a:first').toggleClass('greensign'); }); }); })</script>
        <script type="text/javascript">$(function(){ $('#services').click(function(){
            $('#services ul').slideToggle(function(){ $('#services a:first').toggleClass('greensign'); }); }); })</script>
    </head>
    <body>

        <div id="wrap">
            <header id="header">
                <div class="jclock"></div>
                <div id="weather"></div>
            </header>

            <div id="idented">
                <!-- Top Menu -->
                <nav id="topmenu">
                    <ul class="lavaLamp">
                        {% for m in page.topmenu %}
                        <li><a href="{{ m.url }}">{{ m.ttl }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>

                <!-- middle space - the main area -->
                <section id="middle">
                    <aside>
                        <!-- Logo stands here -->
                        <a href="/contact.html?2" id="logo">{{ page.desc }}</a>

                        <!-- Left Sidebar Menu -->
                        <nav id="leftmenu">
                            <!-- <header><h3></h3></header> -->
                            <ul>
                                {% for m in page.leftmenu %}
                                <li id="{{ m.id }}">
                                    <a href="{{ m.url }}">{{ m.ttl }}</a>
                                    {% if m.id %}
                                    <ul>
                                        {% for sm in page.[m.id] %}
                                        <li><a href="{{ sm.url }}">{{ sm.ttl }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </aside>

                    <!-- Main Content -->
                    <section id="content">
                        {{ content }}
                    </section>
                    <div id="slogan">
                        <p>
                            Σιγουριά, είναι να οδηγείς έχοντας στο αυτοκίνητο σου, ένα δυνατό χαρτί,
                            <br/> το δίπλωμά σου. <br/> Για μένα τιμητική διάκριση.
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <section id="copyright">
                {% for c in page.copyright %}
                <p class="copyright">Copyright &copy; <a href="/">{{ c.page }}</a> {{ c.year }} by <a href="{{ page.author-url }}">{{ page.author }}</a></p>
                {% endfor %}
            </section>
            <section id="road">
            </section>
        </footer>

    </body>
</html>
