---
desc: Τσουκαλάς Παναγιώτης - Σχολή Οδηγών
keywords: drive license σχολή οδηγών τσουκαλάς παναγιώτης πάνος αυτοκίνητο δίπλωμα
author: webwizards.gr
author-url: http://www.webwizards.gr
favico: favicon.ico
css: css/style.css
topmenu:
    - id:  Αρχική
      url: index.html?0
    - id:  Sitemap
      url: sitemap?1
    - id:  Eπικοινωνία
      url: contact.html?2
    - id:  Online Test
      url: testdrive.html
leftmenu:
    - id:  Αυτόματο Εκπαιδευτικό Όχημα
      url: autocar.html
    - id:  Manual Εκπαιδευτικά Οχήματα
      url: manualcar.html
    - id:  Διπλώματα Οδήγησης
      url: licenses.html
    - id:  Υπηρεσίες
      url: services.html
    - id:  Μετεκπαιδεύσεις
      url: metatrain.html
    - id:  Photo Gallery
      url: gallery.html
jscripts:
    - url: js/jquery.min.js
    - url: js/jquery.easing.js
    - url: js/jquery.easing.compatibility.js
    - url: js/jquery.lavalamp.min.js
    - url: js/jquery.jclock.js
    - url: js/jquery.zweatherfeed.min.js
copyright:
    - page: tsoukalas.net
      year: 2012
      owner: webwizards
      url: http://webwizards.gr
---
<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="{{ page.author }}" />
        <meta name="description" content="{{ page.description }}" />
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="language" content="el" />
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ page.favico }}" />
        <link rel="stylesheet" href="{{ page.css }}" type="text/css" media="screen, projection" />
        {% for js in page.jscripts %}
        <script type="text/javascript" src="{{ js.url }}"></script>
        {% endfor %}
        <script type="text/javascript">$(function(){ $(".lavaLamp").lavaLamp({ fx: "backout", speed: 700 }); });</script>
        <script type="text/javascript">$(function(){ $('.jclock').jclock({ format:'%a %d %b %H:%M:%S' }); });</script>
        <script type="text/javascript">$(function(){ $('#weather').weatherfeed(['GRXX0004']); })</script>
    </head>
    <body>

        <div id="wrap">
            <header id="header">
                <div class="jclock"></div>
                <div id="weather"></div>
            </header>

            <div id="idented">
                <!-- Top Menu -->
                <nav id="topmenu">
                    <ul class="lavaLamp">
                        {% for m in page.topmenu %}
                        <li><a href="{{ m.url }}">{{ m.id }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>

                <!-- middle space - the main area -->
                <section id="middle">
                    <aside>
                        <!-- Logo stands here -->
                        <a href="/" id="logo">{{ page.desc }}</a>

                        <!-- Left Sidebar Menu -->
                        <nav id="leftmenu">
                            <!-- <header><h3></h3></header> -->
                            <ul>
                                {% for m in page.leftmenu %}
                                <li><a href="{{ m.url }}">{{ m.id }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </aside>

                    <!-- Main Content -->
                    <section id="content">
                        {{ content }}
                    </section>
                    <div id="slogan">
                        <p>
                            Σιγουριά, είναι να οδηγείς έχοντας στο αυτοκίνητο σου, ένα δυνατό χαρτί,
                            <br/> το δίπλωμά σου. <br/> Για μένα τιμητική διάκριση.
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <section id="copyright">
                {% for c in page.copyright %}
                <p class="copyright">Copyright &copy; <a href="/">{{ c.page }}</a> {{ c.year }} by <a href="{{ page.author-url }}">{{ page.author }}</a></p>
                {% endfor %}
            </section>
            <section id="road">
            </section>
        </footer>

    </body>
</html>
